Source: single-version
Maintainer: Nguyễn Hồng Quân <ng.hong.quan@gmail.com>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools (>= 5.5.1), python3-all (>= 3.4.2-2), debhelper (>= 9.20150101), debhelper-compat (= 12), python3-first
Standards-Version: 4.5.0
Homepage: https://github.com/hongquan/single-version

Package: python3-single-version
Architecture: all
Depends: python3-first, ${misc:Depends}, ${python3:Depends}
Description: Small utility to define version string for Poetry-style Pyth
 Utility to let you have a single source of version in your code base.
 .
 This utility targets modern Python projects which have layout generated
 by Poetry, with a pyproject.toml file in place of setup.py.
 With this layout, the project initially has two places to maintain version
 string: one in pyproject.toml file and one in some *.py file
 (normally __init__.py)
 .
